.navbar-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(236, 233, 233);
  color: rgb(220, 42, 6);
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-lists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  margin-left: 200px; 
  margin-right: 100px;
}

/* .lists-top {
  text-decoration: none;
} */
.lists {
  cursor: pointer;
}

.active-link {
  background-color: black;
  color: white;
  padding: 2px 8px 3px 8px;
  border-radius: 15px;
}

.search {
  width: 280px;
  height: 36px;
  border-radius: 35px;
  border-color: orange;
  font-size: 16px;
  padding-left: 10px;
}
.search::placeholder {
  color: gray;
}

.login-button-navbar {
  background-color: orange;
  color: black;
  border: none;
  padding: 6px 30px;
  border-radius: 20px;
  font-size: 16px;
  margin-left: 30px;
  cursor: pointer;
}